services:
  controle_server:
    build:
      context: ./controle_server
      dockerfile: Dockerfile
    ports:
      - "4081:3000"
    env_file:
      # change to .env.local to work localy
      - .env.local
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    restart: always
    env_file:
      # change to .env.local to work localy
      - .env.local
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  nginx:
    image: nginx:latest
    ports:
      - "4080:80"
      # - "4343:443"
    volumes:
      - ./nginx/admin_conf.d:/etc/nginx/conf.d
      - ./web_admin:/var/www/html
    depends_on:
      - controle_server

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "4082:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      - postgres
    profiles:
      - dev

volumes:
  pgdata:
    driver: local
