services:
  controle_server:
    build:
      context: ./controle_server
      dockerfile: Dockerfile
    env_file:
      - .env
      - stack.env
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:15
    restart: always
    # If you need to access the database from your local machine (outside the docker network), uncoment the following lines:
    # ports:
    #   - "5432:5432"
    env_file:
      - .env
      - stack.env
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s

  web_admin_builder:
    build:
      context: ./web_admin
      dockerfile: Dockerfile
    volumes:
      # We mount the /web_admin_dist volume that contains the built files persisted after the build
      - web_admin_dist:/web_admin_dist

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    ports:
      - "${NGINX_EXTERNAL_PORT:-4080}:${NGINX_INTERNAL_PORT:-443}"
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl
      - web_admin_dist:/var/www/html:ro
    env_file:
      - .env
      - stack.env
    depends_on:
      web_admin_builder:
        condition: service_completed_successfully
      controle_server:
        condition: service_started

  adminer:
    image: adminer:latest
    restart: always
    ports:
      - "4081:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres
    depends_on:
      - postgres
    profiles:
      - dev

volumes:
  pgdata:
    driver: local
  web_admin_dist:
    driver: local
